#File System
alias files="ls -l | grep -v ^d"
alias folders="s -ld */"
alias hidden="ls -ld .??*"
alias trash="rm -rf ~/.Trash/*"
alias delete="rm -Rf"
alias remove="rm -Rf"
alias lcl="cd /usr/local"
alias src='cd /usr/local/src'
alias bin='cd /usr/local/bin'
alias t='touch '

#Shortcuts
alias ~="cd ~"
alias home="cd ~"
alias ..="cd ../"
alias ...="cd ../.."
alias ....="cd ../../.."
alias lst="ls -alh"
alias etc="cd /etc"
alias dt='cd ~/Desktop'
alias dl="cd ~/Downloads"
alias db='cd ~/Dropbox'
alias scripts="cd ~/Dropbox/Scripts"
alias c="clear"
alias appsup="cd ~/Library/Application\ Support/"
alias fm="foreman "
alias fml="foreman start -f Procfile.local"
alias tree="tree --dirsfirst -lFC"
alias less="less -r "
alias dm="cd ~/Dropbox/DevMyndTeam/Clients/"
alias clock='date "+%l:%M %p - %m/%d %a"'
alias sha1='openssl sha1'
alias diff="colordiff"
alias h="history"
alias q="exit"
alias emc="cd ~/.emacs.d/personal"
#Settings
#alias brc='open ~/.bashrc -a "Sublime Text 2"'
alias brc="$EDITOR ~/.bashrc"
alias bp='open ~/.bash_profile -a "Sublime Text 2"'
alias bfn='open ~/.bash_functions -a "Sublime Text 2"'
alias als='open ~/.aliases -a "Sublime Text 2"'
alias ev='open ~/.env -a "Sublime Text 2"'
alias reload='source ~/.bash_profile;chruby 1.9.3-p286;'
alias sh='bash'
alias hmsik="cd ~/.homesick/repos/castle/home"

# Bundler
alias be="bundle exec "

#Rails
alias migrate="bundle exec rake db:migrate"
alias prepare="bundle exec rake db:test:prepare"
alias ucorn="bundle exec unicorn -p 3000"

#Git
alias st="git status"
alias stash="git stash"
alias ga="git add ."
alias g="git "
alias gc="git commit -m "
alias log="git lg"
alias diff="git diff"
alias gpoh="git push origin master && git push heroku master -f"

#Application shortcuts
alias itunes="open -a iTunes"
alias firefox="open -a Firefox"
alias chrome='open -a "Google Chrome"'
alias safari='open -a "Google Chrome"'
alias pg="postgres -D /usr/local/var/postgres"
alias tower="open .git -a Tower"
#Configuration
alias showdock="defaults write com.apple.dock tilesize -int 48;defaults write com.apple.dock pinning -string middle;defaults write com.apple.dock autohide -bool false;killall Dock"
alias hidedock="defaults write com.apple.dock tilesize -int 1;defaults write com.apple.dock pinning -string start;defaults write com.apple.dock autohide -bool true;killall Dock"

# Rails shortcuts
alias guard="guard --no-bundler-warning"
alias templates="tree app/assets/javascripts/templates"
alias js="tree app/assets/javascripts"
alias jsviews="tree app/assets/javascripts/views"
alias jsmodels="tree app/assets/javascripts/models"
alias jsvendor="tree app/assets/javascripts/vendor"
alias css="tree app/assets/stylesheets"
alias controllers="tree app/controllers"
alias views="tree app/views"
alias models="tree app/models"

alias gs="~/Development/auto-gemsets/bin/gemset"

# Color
alias grep="grep --color=auto"
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"

alias gemset="~/Development/auto-gemsets/bin/gemset"


alias tag-rails="ctags -a -e -f TAGS --tag-relative -R app lib"