#Derps
alias bindle="bundle"
alias bundke="bundle"
alias exut="exit"
alias rale="rake"
alias raje="rake"
alias rials="rails"

#File System
alias files="ls -l | grep -v ^d"
alias folders="s -ld */"
alias hidden="ls -ld .??*"
alias trash="rm -rf ~/.Trash/*"
alias delete="rm -Rf"
alias remove="rm -Rf"
alias rmrf="rm -Rf"
alias lcl="cd /usr/local"
alias src='cd /usr/local/src'
alias bin='cd /usr/local/bin'
alias snips="ls -a ~/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/snippets | cat"
alias snippets="cd ~/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/snippets"

#Shortcuts
alias ~="cd ~"
alias home="cd ~"
alias ..="cd ../"
alias ...="cd ../.."
alias ....="cd ../../.."
alias lst="ls -alh"
alias etc="cd /etc"
alias dt='cd ~/Desktop'
alias dl="cd ~/Downloads"
alias db='cd ~/Dropbox'
alias scripts="cd ~/.homesick/repos/castle/scripts"
alias c="clear"
alias appsup="cd ~/Library/Application\ Support/"
alias subd="cd ~/Library/Application\ Support/Sublime\ Text\ 3/Packages/User"
alias subs="cd ~/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/snippets"
alias fm="foreman start"
alias fml="foreman start -f Procfile.local"
alias tree="tree --dirsfirst -lFC"
alias less="less -r "
alias dm="cd ~/Dropbox/DevMyndTeam/Clients/"
alias clock='date "+%l:%M %p - %m/%d %a"'
alias sha1='openssl sha1'
alias diff="colordiff"
alias q="exit"
alias emc="cd ~/.emacs.d"
alias stampede="for i in {1..10}; do { unicornleap & }  ;  sleep 0.5; done"

#Settings
alias brc="$EDITOR ~/.bashrc"
alias zrc="$EDITOR ~/.zshrc"
alias omzrc="$EDITOR ~/.oh-my-zsh"
alias bp='$EDITOR ~/.bash_profile'
alias bfn='$EDITOR ~/.bash_functions'
alias als='$EDITOR ~/.aliases'
alias ev='$EDITOR ~/.env'
alias reload='exec $SHELL'
alias hmsik="cd ~/.homesick"

# Bundler
alias be="bundle exec "
alias b="bundle "

#Rbenv
alias rlist="rbenv versions"

#Ruby
alias irb="pry"
alias motoruby="/Library/RubyMotion/bin/ruby"

#Rails
alias migrate="bundle exec rake db:migrate db:test:prepare"
alias prepare="bundle exec rake db:test:prepare"
alias reset="bundle exec rake db:reset"
alias ucorn="bundle exec unicorn -p 3000"
alias rint="rake spec:integration"
alias r="rails"
alias rs="rails server"

#Git
alias st="git status"
alias stash="git stash"
alias g="git "
alias gc="git commit -m "
alias log="git lg"
alias diff="git diff"
alias gpoh="git push origin master && git push heroku master -f"
alias rebase="git pull --rebase"
alias master="git co master"
alias rcont="git rebase --continue"
#Application shortcuts
alias itunes="open -a iTunes"
alias pg="postgres -D /usr/local/var/postgres"
alias pgs="psql -d template1 -U daytonn"
alias tower="open .git -a Tower"
#Configuration
alias showdock="defaults write com.apple.dock tilesize -int 48;defaults write com.apple.dock pinning -string middle;defaults write com.apple.dock autohide -bool false;killall Dock"
alias hidedock="defaults write com.apple.dock tilesize -int 1;defaults write com.apple.dock pinning -string start;defaults write com.apple.dock autohide -bool true;killall Dock"

# Rails shortcuts
alias templates="tree --dirsfirst -lFC app/assets/javascripts/templates"
alias jst="rake jst:watch"
alias js="tree --dirsfirst -lFC app/assets/javascripts"
alias jsviews="tree --dirsfirst -lFC app/assets/javascripts/views"
alias jsmodels="tree --dirsfirst -lFC app/assets/javascripts/models"
alias jsvendor="tree --dirsfirst -lFC app/assets/javascripts/vendor"
alias css="tree --dirsfirst -lFC app/assets/stylesheets"
alias controllers="tree --dirsfirst -lFC app/controllers"
alias views="tree --dirsfirst -lFC app/views"
alias models="tree --dirsfirst -lFC app/models"
alias specs="tree --dirsfirst -lFC spec/"
alias rc="rails console"
alias seed="rake db:seed"
alias create="rake db:create"
alias drop="rake db:drop"
alias cmps="rake db:create db:migrate db:test:prepare db:seed"
alias dcmps="rake db:drop db:create db:migrate db:test:prepare db:seed"

# Color
alias grep="grep --color=auto"
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"
alias tag-rails="ctags -a -e -f TAGS --tag-relative -R app lib"

# RubyMotion
alias mrake="rake retina=true"

#elastic-search
alias es="elasticsearch -f -D es.config=/usr/local/opt/elasticsearch/config/elasticsearch.yml"

alias dr="brew doctor"
alias outdated="brew outdated"
alias whereami="echo ${PWD}"
alias vim='mvim'
alias vi='/usr/local/bin/vim'
alias sim="open /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Applications/iPhone\ Simulator.app"

alias v="vagrant "
alias vu="vagrant up"
alias vs="vagrant ssh"
alias vh="vagrant halt"
alias vd="vagrant destroy"

alias pi="ssh pi@192.168.1.123"
alias jshrc="s ~/.jshintrc"
alias rcop="s ~/.rubocop.yml"
alias smysql="mysql.server start"

# Heroku
alias hlogs="heroku logs --tail --app"
# Node
alias jsn="jasmine-node spec"

alias rup="rake rails:upgrade:check"
