[user]
	name = Dayton Nolan
	email = dnolan@gmail.com
[credential]
    helper = osxkeychain
[mergetool]
	keepBackup = true
[github]
    user = daytonn
[core]
	editor = vim
[alias]
  torqued = reset --hard
	co = checkout
	br = branch
	ci = commit
  c = commit
	st = status
  df = diff
  ls = ls-files
  f = fetch
  p = push
  m = merge
  ll = log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Cgreen(%cr) %C(bold blue)<%an> %Creset %s' --abbrev-commit --date=relative --max-count=100
  lg = "!source ~/.githelpers && pretty_git_log"
  lgr = "!source ~/.githelpers && pretty_git_log | tail -r"
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = green
  local = cyan
  remote = white
[color "diffiff"]
  meta = white
  frag = cyan
  old = red
  new = green
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
