[user]
	name = Dayton Nolan
	email = daytonn@gmail.com
[credential]
  helper = osxkeychain
[mergetool]
	keepBackup = true
	prompt = false
[github]
  user = daytonn
  email = daytonn@gmail.com
[core]
  editor = subl
[alias]
	co = checkout
	br = branch
	ci = commit
  c = commit
	st = status
  df = diff
  ls = ls-files
  f = fetch
  p = push
  m = merge
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = green
  local = cyan
  remote = white
[color "diff"]
  meta = white
  frag = cyan
  old = red
  new = green
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[push]
	default = simple
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[merge]
	tool = Kaleidoscope
